//Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

//colors
$bgc: #e5e5e5;
$blue: #505f98;
$logo: #37447e;
$btn: #111b47;
$title-color: #091133;
$white: #ffffff;
$text-color: #6f7cb2;
$grey: #5d6970;
$light-grey: #939ea4;
$footer-link: #929ecc;
$before: #cdd1d4;

//font-sizes
$title: 50px;
$subtitle: 36px;
$logo-size: 26px;
$text: 18px;
$btn: 16px;
$link: 14px;
$header-btn: 12px;
